body{
    background: linear-gradient(80deg,blue, purple);
}
.App{
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap:20px;
}

.country-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 300px;
    background-color: rgb(000, 000, 000,0.7);
    border-radius: 20px;
    color: white;
    box-shadow: 5px 5px 5px purple;
}

.country-card img{
    width: 200px;
    border-radius: 10px;
}

.country-card h1, .country-card h3{
    text-align: center;
    margin: 5px;
}